body {
  margin: 0;
  padding: 0;
  background-color: blue;
  color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

#game {
  display: flex;
  background-color: aqua;
}

.card {
  width: 150px;
  height: 115px;
  background-color: blueviolet;
  border-left: solid rebeccapurple 15px;
  border-right: solid rgb(81, 74, 190) 15px;
  border-top: solid rgb(80, 88, 203) 15px;
  border-bottom: solid rgb(86, 71, 198) 15px;
  text-align: center;
  font-size: 85px;
  margin: 10px;
  padding: 15px;
  line-height: 100px;
}

h1 {
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  font-size: 70px;
}

/* .category-placer {
  padding: 10px;
  text-align: center;
  font-size: 25px;
} */

section.game-board {
  display: grid;
  grid-template-rows: repeat(5, 10vmin);
  grid-template-columns: repeat(5, 15vmin);
  grid-gap: 5vmin;
  padding: 25px;
  background-color: rgb(76, 76, 244);
  border: 25px;
  border-radius: 25px;
  }

